/* Link Colors */
a:link {
  color: #8175A2;
}
a:visited {
  color: #8175A2;
}
a:hover {
  color: #663486;
}
a:active {
  color: #663486;
}

/* Highlight Color */
::selection {
  background-color: #D6C2DD;
  color: #694696;
}
::-moz-selection {
  background-color: #D6C2DD;
  color: #694696;
}

/* Text */
blockquote {
  background-color: #ECE8DF;
  padding: 10px;
  border-color: #8175A2;
  border-radius: 5px;
}
blockquote h3 {
  margin-top: 0px;
}

/* Tables */
table {
  width: auto !important;
}
thead {
  border-top: solid #ECE8DF;
  border-bottom: solid #ECE8DF;
}
tr.odd {
  background-color: #ECE8DF;
}

.class-buttons {
  text-align: center;
}

.btn-slides {
  background-color: #8175A2;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px; /* Rounded edges */
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: .9rem;
  line-height: .5;
  border-radius: .3rem;
}

.btn-notes {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px; /* Rounded edges */
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: .9rem;
  line-height: .5;
  border-radius: .3rem;
}