/* Table */
th {
  font-size: 24px;
}

.centered-orange {
  text-align: center;
  margin-top: 0.5em;
  color: #FF5733;
}

.grid-container {
  display: grid;
  gap: 10px;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.container {
  border: 2px solid #333;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quarto-figure {
  margin-bottom: 0;
}

:root {
  --r-block-margin: 5px;
}

.custom-title-slide h1 {
  position: relative;
  top: 5vh;
  font-size: 1.3em !important;
}

.custom-title-slide .quarto-title-author-name {
  position: relative;
  top: 5vh;
  font-size: 0.9em !important;
}

.reveal .slide-background-content {
  background-position: 50% 80%;
}
.reveal a {
  color: #9BBD2E !important;
}

.reveal a:hover {
  color: #7b9725 !important;
}

.surveyqmd-texts {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  position: absolute;
  margin-left: 20px;
  width: fit-content;
}

.surveyqmd-texts::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #f0f0f0 transparent transparent;
}

iframe {
  margin-bottom: 0.5em;
}