/* Import Academicons */
@import url('https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css');

/* Blockquote */
blockquote {
  background-color: #DDDCEC;
  padding: 10px;
  border-color: #5654A2;
  border-radius: 5px;
}

/* Code */
/* Code block height and scrolling */
pre.sourceCode {
  max-height: 300px;
  overflow-y: auto !important;
}

/* Line number formatting */
pre > code.sourceCode > span:before {
  content: counter(line) " ";
  color: #999;
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 0.8em;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
}

/* Line numbering */
pre > code.sourceCode > span {
  counter-increment: line;
}

/* Table */
table {
  width: auto !important;
}
thead {
  border-top: solid #E5DFD5;
  border-bottom: solid #E5DFD5;
}

/* Highlight Color */
::selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}
::-moz-selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}

/*Spacing*/
p {
  margin-bottom: 0.5rem;
}