/* Blockquote */
blockquote {
    background-color: #DDDCEC;
    padding: 10px;
    border-color: #5654A2;
    border-radius: 5px;
}

/* Code */
/* Code block height and scrolling */
pre.sourceCode {
  max-height: 300px;
  overflow-y: auto !important;
}

/* Code soft wrap */
pre.sourceCode code {
  white-space: pre-wrap !important;
}

/* Line number formatting */
pre > code.sourceCode > span:before {
  content: counter(line) " ";
  color: #999;
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 0.8em;
  padding-right: 0.5em;
  border-right: 1px solid #ddd;
}

/* Line numbering with proper indentation for wrapped lines */
pre > code.sourceCode > span {
  counter-increment: line;
  text-indent: -2.8em;
  padding-left: 2.8em;
}

/* Table */
table {
  width: auto !important;
}
thead {
  border-top: solid #E5DFD5;
  border-bottom: solid #E5DFD5;
}

/* Highlight Color */
::selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}
::-moz-selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}

/*Spacing*/
p {
  margin-bottom: 0.5rem;
}

/* Phone Mode */
@media (min-width: 768px) {
  .navbar-nav {
    flex-wrap: nowrap !important;
    white-space: nowrap;
  }
  
  .navbar-nav .nav-item {
    flex-shrink: 1;
  }
}

/* Grid Image Ratio fix */
.thumbnail-image.card-img {
  height: auto !important;
}

/* Publications Card Shadow */
.custom-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}